body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #bbb;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: white;
}
a:visited {
    color: white;
}
.navbar {
    background-color: rgb(25, 25, 136);
    overflow: hidden;
    position: sticky;
    top: 0;
}
.navbar .logo {
    float: left;
    font-weight: bold;
    padding: 20px;
    background-color: #444;
    color: black;
}
.navbar .links {
    float: left;
}
.navbar .links div {
    float: left;
    font-size: 20px;
    padding: 20px;
}
.navbar .links div:hover {
    background-color: #eee;
}
.navbar .links div:hover a {
    color: black;
}
.about-us, .donate {
    padding: 20px;
}
.about-us p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}